* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f9df89;
  margin: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.accent {
  color: #cf4e03;
}

.accent--mod {
  text-transform: uppercase;
  font-weight: 700;
  font-style: none;
}

.header {
  height: 15vh;
  background-color: #023480;
  display: grid;
  place-items: center;
}

.header__title {
  flex-grow: 1;
  text-align: center;
  color: #cbf7f1;
}

.nav {
  background-color: #82c2a2;
  height: 6vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  place-items: center;
}

.nav__link {
  color: #023480;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

.articles,
.topics,
.article {
  margin: 1rem;
  width: calc(100vw - 2rem);
}

.articles__header,
.topics__header,
.article__header {
  color: #023480;
  text-align: center;
  margin: 2rem 1rem;
  text-transform: capitalize;
}

.articles__header--user {
  text-transform: none;
}

.articles-container {
  display: grid;
  grid-template-columns: 1fr;
}

.article-card {
  background-color: #fff;
  border: 2px solid #cf4e03;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title title" "author date" "body body" "votes comments" "link link";
  margin: 0.5rem 0;
  padding: 8px;
  place-items: center;
}

.article-card__title {
  grid-area: title;
  text-align: center;
  min-height: 2rem;
  margin: 0.5rem;
  color: #023480;
}

.article-card__author {
  grid-area: author;
  justify-self: left;
  color: #023480;
  font-weight: 700;
}

.article-card__date {
  grid-area: date;
  justify-self: right;
}

.article-card__votes {
  grid-area: votes;
  justify-self: left;
}

.article-card__blurb {
  grid-area: body;
  margin: 0.5rem 0;
}

.article-card__comment-count {
  grid-area: comments;
  justify-self: right;
}

.article-card__btn {
  grid-area: link;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #023480;
  color: #fff;
  border-style: none;
  border-radius: 4px;
  padding: 5px;
  font-size: 1rem;
}

.pagination {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  color: #023480;
}

.pagination__btn {
  margin: 0.5rem;
  padding: 5px;
  font-size: 1.5rem;
  border-style: none;
  border-radius: 4px;
  background-color: #023480;
  color: #fff;
}

.sorting {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 0.5rem;
}

.sorting__btn {
  background-color: #023480;
  color: #fff;
  border: none;
  margin: 3px;
  padding: 5px;
  border-radius: 4px;
}

.sorting__sorter {
  font-size: 2.5rem;
  color: #023480;
  place-self: center;
}

.topics__list {
  list-style: none;
  margin-left: 2rem;
}

.topics__link {
  margin: 1rem;
}

.topics__link > a {
  color: #023480;
  font-style: oblique;
}

.article {
  display: grid;
  grid-template-columns: 2.4rem 2fr 2fr;
  grid-template-areas: "title title title" "author author author" "topic date date" "votes body body" "see-comments see-comments see-comments" "add-comment add-comment add-comment";
}

.article__header {
  grid-area: title;
}

.article__author {
  grid-area: author;
  justify-self: center;
  margin: 1rem;
  color: #023480;
}

.article__body {
  grid-area: body;
  margin: 1rem 0;
}

.article__date {
  grid-area: date;
  color: #023480;
  justify-self: end;
}

.article__topic {
  grid-area: topic;
  color: #023480;
}

.article__comments {
  grid-area: see-comments;
  place-self: center;
  color: #023480;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0.5rem;
}

.vote {
  grid-area: votes;
  margin: 1rem 1rem 1rem 0;
  display: grid;
  grid-template-columns: 1fr;
  place-self: start;
  font-size: 1.5rem;
  text-align: center;
}

.vote__btn {
  border-style: none;
  border-radius: 4px;
  background-color: #023480;
  color: #fff;
  padding: 5px;
}

.add-comment {
  grid-area: add-comment;
  background-color: #82c2a2;
}

.add-comment__header {
  margin: 1rem;
  text-align: center;
  color: #023480;
  text-transform: uppercase;
  padding-top: 1rem;
}

.comment-form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "user-label user-input" "body-label body-input" "btn btn";
  width: 100vw;
}

.comment-form__label {
  color: #023480;
  align-self: start;
  justify-self: center;
}

.comment-form__input {
  width: 90%;
  margin-bottom: 1rem;
  place-self: center;
}

#lbl-username {
  grid-area: user-label;
}

#username {
  grid-area: user-input;
}

#lbl-body {
  grid-area: body-label;
}

#body {
  grid-area: body-input;
}

.comment-form__btn {
  background-color: #023480;
  border-style: none;
  font-size: 1.5rem;
  color: #fff;
  padding: 10px;
  grid-area: btn;
  width: 100vw;
}

/*# sourceMappingURL=App.css.map */
